<!-- jumbotron -->
<div>
  <container>
    <div class="jumbotronTeam" style="height: 220px">
      <div class="jumboBanner">
        <div class="jumboLogo">
          <%= image_tag("/team_icons/#{@teamName.region.tr(" ", "_")}/#{@teamName.name.tr(" ", "_").downcase}_logo.png", height: '200px') %>
        </div>
        <div class="jumboLogo">
          <%= @teamName.name %>
        </div>
      </div> 
    </div> 
  </container>
</div>

<!--Roster card-->
<div>
  <container>
    <table border="2" class="rosterCard">
          <tr>
            <td rowspan="6" class="img-container">
              <%= image_tag(@teamLogo, height: '100', id: "rosterImage", align:"left") %>
            </td>
              <td class="rosterText" class="img-container">
                <% if @teamPlayer.find_by_position("Top").nil? %>
                  <a data-iconRef=<%= @teamLogo %> >
                    <div>
                      Unknown
                    </div>
                  </a>
                    <% else %>
                  <a data-iconRef=<%= ("/player_icons/#{@teamPlayer.find_by_position("Top").name.tr(" ", "_")}_icon.png") %> href="/players/<%=  @teamPlayer.find_by_position("Top").name.tr(" ", "_")%>"  >
                    <div>
                    <%= @teamPlayer.find_by_position("Top").name %>
                    </div>
                  </a>
                  <% end %>
              </td>
            </tr>
            <% @playerPosition.each do |position|%>
              <tr>
                <td class="rosterText" class="img-container">
                    <% @currentPlayer = @teamPlayer.find_by_position(position) %>
                    <%if @currentPlayer.nil? %>
                      <a data-iconRef=<%= @teamLogo %>>
                        <div>Unknown</div>
                      </a>
                      
                    <% else %>
                        <a data-iconRef=<%= ("/player_icons/#{@currentPlayer.name.tr(" ", "_")}_icon.png") %> href= "/players/<%= @currentPlayer.name.tr(" ", "_")%>">
                          <div>
                            <%= @currentPlayer.name %>
                          </div>
                        </a>
                  <% end %>
                </td>
              </tr>
            <% end %>
        </table> 
  </container>
</div>
<!--End roster card-->

